<template>
  <div>
    <sui-grid celled="internally">
      <sui-grid-column :width="10" centered>
        <create-task v-on:add-task="addTask"></create-task>
      </sui-grid-column>
    </sui-grid>
    <todolist v-bind:todos="todos"></todolist>
  </div>
</template>

<script>
import Todolist from './components/Todolist.vue';
import CreateTask from './components/CreateTask.vue';

export default {
  name: 'app',
  components: {
    Todolist,
    CreateTask,
  },
  data() {
    return {
      todos: [],
    };
  },
  mounted() {
    this.$http.get('http://localhost:3000/todos').then((result) => {
      this.todos = result.body;
    }, (error) => {
      console.error(error);
    });
  },
  rules: {
    'no-console': 'off',
  },
  methods: {
    deleteTask(todo) {
      this.$http.delete(`http://localhost:3000/todos/${todo.id}`)
        .then((result) => {
          this.todos = result.body;
        }, (error) => {
          console.error(error);
        });
    },
    addTask(description) {
      this.$http.post('http://localhost:3000/todos/', { order: 0, description, completed: false })
        .then((result) => {
          this.todos.push({
            id: result.body.id, order: result.body.order, description, completed: false,
          });
          console.log(Response);
        }, (error) => {
          console.error(error);
        });
    },
  },
};

</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

</style>
