<template>
<div>
  <sui-form>
    <sui-form-field>
      <label>Description</label>
      <input placeholder="Description" v-model="descriptionText"
             type='text' ref='description' defaultValue="">
    </sui-form-field>
    <sui-button v-on:click="addTask(descriptionText)">Criar tarefa</sui-button>
  </sui-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      descriptionText: '',
    };
  },
  methods: {
    addTask(descriptionText) {
      this.$emit('add-task', descriptionText);
    },
  },
};
</script>
