<template>
  <div>
    <sui-grid celled="internally">
    <sui-grid-row>
      <sui-grid-column :width="3">
        <docs-wireframe name="image" />
      </sui-grid-column>
      <sui-grid-column :width="10">
    <sui-tab>
      <sui-tab-pane title="Todos">
        <todocard v-on:complete-todo="completeTodo"
                  v-for="todo in todos.filter(todo => {return todo.completed === false})"
                  v-bind:todo="todo" :key="todo.id" v-on:delete-task="deleteTask">
        </todocard>
        <todocard v-on:complete-todo="completeTodo"
                  v-for="todo in todos.filter(todo => {return todo.completed === true})"
                  v-bind:todo="todo" :key="todo.id" v-on:delete-task="deleteTask">
        </todocard>
      </sui-tab-pane>
      <sui-tab-pane title="A Fazer">
        <p>Pending Tasks: {{todos.filter(todo => {return todo.completed === false}).length}}</p>
        <todocard v-on:complete-todo="completeTodo"
                  v-for="todo in todos.filter(todo => {return todo.completed === false})"
                  v-bind:todo="todo" :key="todo.id" v-on:delete-task="deleteTask">
        </todocard>
      </sui-tab-pane>
      <sui-tab-pane title="Completos">
        <p>Completed Tasks: {{todos.filter(todo => {return todo.completed === true}).length}}</p>
        <todocard v-on:complete-todo="completeTodo"
                  v-for="todo in todos.filter(todo => {return todo.completed === true})"
                  v-bind:todo="todo" :key="todo.id" v-on:delete-task="deleteTask">
        </todocard>
      </sui-tab-pane>
    </sui-tab>
    </sui-grid-column>
      <sui-grid-column :width="3">
        <docs-wireframe name="image" />
      </sui-grid-column>
    </sui-grid-row>
    </sui-grid>
  </div>

</template>

<script type="text/javascript">
import Todocard from './Todocard.vue';

export default {
  props: ['todos'],
  components: {
    Todocard,
  },
  methods: {
    deleteTask(todo) {
      this.$http.delete(`http://localhost:3000/todos/${todo.id}`)
        .then(() => {
          const todoIndex = this.todos.indexOf(todo);
          this.todos.splice(todoIndex, 1);
        }, (error) => {
          console.error(error);
        });
    },
    completeTodo(todo) {
      const todoIndex = this.todos.indexOf(todo);
      this.$http.put(`http://localhost:3000/todos/${todo.id}`, {
        order: todo.order,
        completed: true,
        description: todo.description,
      })
        .then(() => {
          this.todos[todoIndex].completed = true;
        }, (error) => {
          console.error(error);
        });
    },
  },
};

</script>

<style>
</style>
