<template>

  <div class='ui centered card'>
    <div class='content'>
      <div class='header'>
        {{ todo.description }}
      </div>
      <div class='meta'>
        ID: {{ todo.id }}
      </div>
      <div class='extra content'>
        <span class='right floated trash icon' v-on:click="deleteTask(todo)">>
          <i class='trash icon'></i>
        </span>
      </div>
    </div>
    <div class='ui bottom attached green basic button' v-show="todo.completed">
      Completed
    </div>
    <div class='ui bottom attached red basic button'
         v-show="!todo.completed" v-on:click="completeTodo(todo)">
      Pending
    </div>
  </div>
</template>

<script type="text/javascript">
export default {
  props: ['todo'],
  methods: {
    deleteTask(todo) {
      this.$emit('delete-task', todo);
    },
    completeTodo(todo) {
      this.$emit('complete-todo', todo);
    },
  },
};

</script>
